flows-ai-sprint.json
[
    {
        "id": "1e6154c3f03a9e31",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c0964780f1b6ef31",
        "type": "telegram bot",
        "botname": "Bot_HC_Telegram",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "4d66b9fc38700aa4",
        "type": "watson-speech-to-text",
        "z": "1e6154c3f03a9e31",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "_uHpwMfDXwydKiIQYvv0YkxXuo_rIilHd1WApm6hyJda",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/c74f6cd0-c262-4e33-af9b-66424d8186db",
        "x": 660,
        "y": 120,
        "wires": [
            [
                "287af53f3a39cdda",
                "watson"
            ]
        ]
    },
    {
        "id": "287af53f3a39cdda",
        "type": "debug",
        "z": "1e6154c3f03a9e31",
        "name": "debug SPEECH",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "f3d31f5948b40951",
        "type": "change",
        "z": "1e6154c3f03a9e31",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "salvarChatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "salvarType",
                "pt": "msg",
                "to": "payload.type",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weblink",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "4d66b9fc38700aa4",
                "2d9139abb351346d"
            ]
        ]
    },
    {
        "id": "d1a1f2b3e4c5f6a7",
        "type": "telegram receiver",
        "z": "1e6154c3f03a9e31",
        "name": "Telegram Bot",
        "bot": "c0964780f1b6ef31",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 90,
        "y": 300,
        "wires": [
            [
                "switch_type",
                "cbb7f4c668c1b4f3"
            ],
            []
        ]
    },
    {
        "id": "switch_type",
        "type": "switch",
        "z": "1e6154c3f03a9e31",
        "name": "Filtra mensagem",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "f3d31f5948b40951"
            ],
            [
                "prepare_watson"
            ]
        ]
    },
    {
        "id": "prepare_watson",
        "type": "change",
        "z": "1e6154c3f03a9e31",
        "name": "Para Watson",
        "rules": [
            {
                "t": "set",
                "p": "salvarType",
                "pt": "msg",
                "to": "payload.type",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "salvarChatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg",
                "dc": true
            }
        ],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "watson",
                "5b30d71d8490fabd"
            ]
        ]
    },
    {
        "id": "watson",
        "type": "watson-assistant-v2",
        "z": "1e6154c3f03a9e31",
        "name": "Assistant",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/57d89cae-105e-4184-ae9b-f484ec15e365",
        "assistant_id": "59e9deaf-ef9c-4d37-804a-bdd6c36c0884",
        "debug": false,
        "restart": false,
        "return_context": false,
        "alternate_intents": false,
        "multisession": false,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 660,
        "y": 440,
        "wires": [
            [
                "aaf322f4d8bef16e",
                "a0852f96b28af979"
            ]
        ]
    },
    {
        "id": "prepare_telegram",
        "type": "change",
        "z": "1e6154c3f03a9e31",
        "name": "Para Telegram",
        "rules": [
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "salvarChatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "salvarType",
                "tot": "msg"
            }
        ],
        "x": 1120,
        "y": 620,
        "wires": [
            [
                "telegram sender",
                "ba833dad71d9d12d"
            ]
        ]
    },
    {
        "id": "telegram sender",
        "type": "telegram sender",
        "z": "1e6154c3f03a9e31",
        "name": "Responder Telegram",
        "bot": "c0964780f1b6ef31",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1540,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "5b30d71d8490fabd",
        "type": "debug",
        "z": "1e6154c3f03a9e31",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 520,
        "wires": []
    },
    {
        "id": "aaf322f4d8bef16e",
        "type": "debug",
        "z": "1e6154c3f03a9e31",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 500,
        "wires": []
    },
    {
        "id": "ba833dad71d9d12d",
        "type": "debug",
        "z": "1e6154c3f03a9e31",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 740,
        "wires": []
    },
    {
        "id": "cbb7f4c668c1b4f3",
        "type": "debug",
        "z": "1e6154c3f03a9e31",
        "name": "debug Telegram Inicio",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 80,
        "wires": []
    },
    {
        "id": "f680f99020bf237d",
        "type": "watson-text-to-speech",
        "z": "1e6154c3f03a9e31",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "pt-BR_IsabelaV3Voice",
        "format": "audio/wav",
        "password": "",
        "apikey": "CG-KTlvlK9TLyNGeTA6a8GPKmSvF4gZ1m5LVjnfenbv9",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/920a087b-d056-402f-89fe-0b871b2b9b1c",
        "x": 1140,
        "y": 380,
        "wires": [
            [
                "fa235fd9c7d8d6fc",
                "79a86ec9bdef8c2d"
            ]
        ]
    },
    {
        "id": "a0852f96b28af979",
        "type": "switch",
        "z": "1e6154c3f03a9e31",
        "name": "",
        "property": "salvarType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 480,
        "wires": [
            [
                "bde2e7c4a52279e6"
            ],
            [
                "prepare_telegram"
            ]
        ]
    },
    {
        "id": "bde2e7c4a52279e6",
        "type": "change",
        "z": "1e6154c3f03a9e31",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 300,
        "wires": [
            [
                "f680f99020bf237d",
                "d4ae28eceff6cd77"
            ]
        ]
    },
    {
        "id": "fa235fd9c7d8d6fc",
        "type": "function",
        "z": "1e6154c3f03a9e31",
        "name": "function 1",
        "func": "msg.payload = {\n    chatId: msg.salvarChatId,\n    type: msg.salvarType,\n    content: msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 460,
        "wires": [
            [
                "telegram sender",
                "44e63beac3a38e9a"
            ]
        ]
    },
    {
        "id": "2d9139abb351346d",
        "type": "debug",
        "z": "1e6154c3f03a9e31",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "d4ae28eceff6cd77",
        "type": "debug",
        "z": "1e6154c3f03a9e31",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "79a86ec9bdef8c2d",
        "type": "debug",
        "z": "1e6154c3f03a9e31",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 320,
        "wires": []
    },
    {
        "id": "44e63beac3a38e9a",
        "type": "debug",
        "z": "1e6154c3f03a9e31",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 400,
        "wires": []
    }
]