flows-sprint-ai.json
[
    {
        "id": "1e6154c3f03a9e31",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7c38bd979b338d50",
        "type": "telegram bot",
        "botname": "PizzariaSoria_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "e1843ec751fbc144",
        "type": "telegram bot",
        "botname": "HospitalClinicas_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "996cbd40ad29ad5f",
        "type": "debug",
        "z": "1e6154c3f03a9e31",
        "name": "Debug Telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 100,
        "y": 240,
        "wires": []
    },
    {
        "id": "a3c36194e0f90735",
        "type": "telegram sender",
        "z": "1e6154c3f03a9e31",
        "name": "",
        "bot": "e1843ec751fbc144",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1090,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5f1c19f8d1c3d79f",
        "type": "change",
        "z": "1e6154c3f03a9e31",
        "name": "HC - Assistant",
        "rules": [
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.input.text",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.input.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 420,
        "wires": [
            [
                "025af59291a3da3a",
                "a581eff81b8b5dc7"
            ]
        ]
    },
    {
        "id": "025af59291a3da3a",
        "type": "debug",
        "z": "1e6154c3f03a9e31",
        "name": "debug CHANGE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 460,
        "wires": []
    },
    {
        "id": "8d454f4756d70a9f",
        "type": "debug",
        "z": "1e6154c3f03a9e31",
        "name": "debug ASSISTANT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "6bcbf3bedd1b0aa8",
        "type": "change",
        "z": "1e6154c3f03a9e31",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 280,
        "wires": [
            [
                "a3c36194e0f90735",
                "307e23ebf6d0c626"
            ]
        ]
    },
    {
        "id": "307e23ebf6d0c626",
        "type": "debug",
        "z": "1e6154c3f03a9e31",
        "name": "debug CHANGE 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "62be5f9b6d076b6e",
        "type": "telegram receiver",
        "z": "1e6154c3f03a9e31",
        "name": "Hospital das Clinicas Telegram",
        "bot": "e1843ec751fbc144",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "996cbd40ad29ad5f",
                "5f1c19f8d1c3d79f"
            ],
            []
        ]
    },
    {
        "id": "4d66b9fc38700aa4",
        "type": "watson-speech-to-text",
        "z": "1e6154c3f03a9e31",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "NarrowbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "_uHpwMfDXwydKiIQYvv0YkxXuo_rIilHd1WApm6hyJda",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/c74f6cd0-c262-4e33-af9b-66424d8186db",
        "x": 660,
        "y": 120,
        "wires": [
            [
                "287af53f3a39cdda"
            ]
        ]
    },
    {
        "id": "287af53f3a39cdda",
        "type": "debug",
        "z": "1e6154c3f03a9e31",
        "name": "debug SPEECH",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "f3d31f5948b40951",
        "type": "change",
        "z": "1e6154c3f03a9e31",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weblink",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "4d66b9fc38700aa4"
            ]
        ]
    },
    {
        "id": "a581eff81b8b5dc7",
        "type": "watson-assistant-v2",
        "z": "1e6154c3f03a9e31",
        "name": "Bot_Hospital_Clinicas",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/57d89cae-105e-4184-ae9b-f484ec15e365",
        "assistant_id": "59e9deaf-ef9c-4d37-804a-bdd6c36c0884",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 640,
        "y": 240,
        "wires": [
            [
                "6bcbf3bedd1b0aa8"
            ]
        ]
    }
]