flows-sprint-ai.json
[
    {
        "id": "1e6154c3f03a9e31",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c0964780f1b6ef31",
        "type": "telegram bot",
        "botname": "Bot_HC_Telegram",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "4d66b9fc38700aa4",
        "type": "watson-speech-to-text",
        "z": "1e6154c3f03a9e31",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "NarrowbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "_uHpwMfDXwydKiIQYvv0YkxXuo_rIilHd1WApm6hyJda",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/c74f6cd0-c262-4e33-af9b-66424d8186db",
        "x": 660,
        "y": 120,
        "wires": [
            [
                "287af53f3a39cdda",
                "watson"
            ]
        ]
    },
    {
        "id": "287af53f3a39cdda",
        "type": "debug",
        "z": "1e6154c3f03a9e31",
        "name": "debug SPEECH",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "f3d31f5948b40951",
        "type": "change",
        "z": "1e6154c3f03a9e31",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weblink",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "4d66b9fc38700aa4"
            ]
        ]
    },
    {
        "id": "d1a1f2b3e4c5f6a7",
        "type": "telegram receiver",
        "z": "1e6154c3f03a9e31",
        "name": "Telegram Bot",
        "bot": "c0964780f1b6ef31",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 90,
        "y": 300,
        "wires": [
            [
                "switch_type"
            ],
            []
        ]
    },
    {
        "id": "switch_type",
        "type": "switch",
        "z": "1e6154c3f03a9e31",
        "name": "Filtra mensagem",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "f3d31f5948b40951"
            ],
            [
                "prepare_watson"
            ]
        ]
    },
    {
        "id": "prepare_watson",
        "type": "change",
        "z": "1e6154c3f03a9e31",
        "name": "Para Watson",
        "rules": [
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "watson",
                "5b30d71d8490fabd"
            ]
        ]
    },
    {
        "id": "watson",
        "type": "watson-assistant-v2",
        "z": "1e6154c3f03a9e31",
        "name": "Assistant",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/57d89cae-105e-4184-ae9b-f484ec15e365",
        "assistant_id": "59e9deaf-ef9c-4d37-804a-bdd6c36c0884",
        "debug": false,
        "restart": false,
        "return_context": false,
        "alternate_intents": false,
        "multisession": false,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 660,
        "y": 440,
        "wires": [
            [
                "prepare_telegram",
                "aaf322f4d8bef16e"
            ]
        ]
    },
    {
        "id": "prepare_telegram",
        "type": "change",
        "z": "1e6154c3f03a9e31",
        "name": "Para Telegram",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "user",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg",
                "dc": true
            }
        ],
        "x": 820,
        "y": 320,
        "wires": [
            [
                "telegram sender",
                "ba833dad71d9d12d"
            ]
        ]
    },
    {
        "id": "telegram sender",
        "type": "telegram sender",
        "z": "1e6154c3f03a9e31",
        "name": "Responder Telegram",
        "bot": "c0964780f1b6ef31",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1080,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "5b30d71d8490fabd",
        "type": "debug",
        "z": "1e6154c3f03a9e31",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 520,
        "wires": []
    },
    {
        "id": "aaf322f4d8bef16e",
        "type": "debug",
        "z": "1e6154c3f03a9e31",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 500,
        "wires": []
    },
    {
        "id": "ba833dad71d9d12d",
        "type": "debug",
        "z": "1e6154c3f03a9e31",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 260,
        "wires": []
    }
]